{% extends "base.html" %}
{% block title %} About {% endblock %}

{% block content %}
    <h1> About </h1>
    <p>
        Spygit (pronounced 'sp-ee-get') is a simple
        <a href="http://www.django.com">django</a> app to show off your
        standards-compliant python code.  It removes the burden of manually
        checking your code against the
        <a href="http://www.python.org/dev/peps/pep-0008/">pep8</a> standard
        and proving to your team/peers that you are compliant.
    </p>
    <p>
        It was partially inspired by the
        <a href="http://validator.w3.org/">HTML validator</a>.
    </p>
{% endblock %}

