{% extends "base.html" %}

{% block title %} {{filename}} {% endblock %}

{% load syntax_color %}

{% block content %}
   <p>
        {% ifequal lines|length 0 %}
            No errors for {{filename}}
        {% else %}
            {% for line in lines %}
                {% ifequal line.error None %}
                    {{ line.line_obj.text|colorize:line.line_obj.line_number}}
                {% else %}
                    <p id="over">{{ line.line_obj.text|colorize_error:line.line_obj.line_number}}</p>
                    <p id="error_text"></p>
                {% endifequal %}
            {% endfor %}
        {% endifequal %}
   </p>
{% endblock %}
