{% extends "base.html" %}

{% block title %} {{filename}} {% endblock %}

{% load syntax_color %}

{% block content %}
    <a href="{{url}}">{{url}}</a>
<script type="text/javascript">
 $(document).ready(function() {
   $(".errortext").hide();
   $(".error").click(function() {
    $(this).children(".errortext").slideToggle('fast');
  });
 });
</script>
   <p>
        {% ifequal lines|length 0 %}
            No errors for {{filename}}
        {% else %}
            {% for line in lines %}
                {% ifequal line.error None %}
                    {{ line.line_obj.text|colorize:line.line_obj.line_number}}
                {% else %}
                    <div class="error">{{ line.line_obj.text|colorize_error:line.line_obj.line_number}}
                    <div class="errortext">{{line.error.short_descr}}</div>
</div>
                {% endifequal %}
            {% endfor %}
        {% endifequal %}
   </p>
{% endblock %}
