{% extends 'base.html' %}

{% block form %} {% include 'form.html' %} {% endblock %}

{% block content %}

    <div id="total">
        <h2>Projects Spy'ed</h2>
        {{total_projects}}
    </div>
    <div id="recent">
        <h2>Recently Spy'ed Projects</h2>
        {% include 'project_listing.html' %}
    </div>

    <div id="worst">
        <h2>Biggest Offender</h2>
        {% if worst_proj %}
        <ul class="clean">
            <li>
                <a href="/{{worst_proj.project_name}}/{{worst_proj.git_revision}}">{{worst_proj.project_name}}</a>
                <span class="small">{{max_errors}} errors</span>
            </li>
        </ul>
        {% endif %}
    </div>

    <br style="clear: both">

{% endblock %}
