{% extends "base.html" %}

{% block title %}
    {% if files %}
        {{files.0.run.project_name}} {{files.0.run.git_revision}}
    {% endif %}
{% endblock %}

{% block content %}
    <ul>
        {% for file in files %}
            <li>
                <a href="{{url}}/{{file.file_obj.filename}}">{{file.file_obj.filename}}</a>
                (Errors: {{file.errors}})
            </li>
        {% endfor %}
    </ul>
    <p>
        Share your good (or bad) fortune with the following icon/html to
        visitors to your project's site to see your standards progress
    </p>
    <p>
        <img src="/static/img/share.jpeg" height="20" width="193"><br><br>
        <textarea rows="4" cols="40">
            <a href="{{url}}"><img src="/static/img/share.jpeg" height="20" width="193"></a>
        </textarea>
    </p>
{% endblock %}

