{% extends "base.html" %}
{% block title %}
    {% if runs|length %}
        {{runs.0.run.project_name}}
    {% endif %}
{% endblock %}

{% block content %}
    <table class="proj_overview">
        <thead>
            <tr>
                <th>Revision</th>
                <th>Spy'ed Date</th>
                <th>Errors</th>
            </tr>
        {% for run in runs %}
            <tr>
                <td>
                <a href="/{{run.run_obj.project_name}}/{{run.run_obj.git_revision}}">
                    {{run.run_obj.git_revision}}</a></td>
                <td>{{run.run_obj.date|date:"m-d-Y P"}}</td>
                <td><a href="/{{run.run_obj.project_name}}/{{run.run_obj.git_revision}}/errors">
                    {{run.errors}}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
