{% extends "base.html" %}
{% block title %}
    {% if runs|length %}
        {{runs.0.run.project_name}}
    {% endif %}
{% endblock %}

{% block content %}
    {% if runs|length %}
        <ul>
            {% for run in runs %}
                <li>
                    <a href="/project/rev/{{run.run_obj.git_revision}}">
                        {{run.run_obj.git_revision}}</a>
                    {{run.run_obj.date|date:"m-d-Y P"}}
                    <span>Errors:{{run.errors}}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
