{% extends "base.html" %}

{% block title %}
    {% if files %}
        {{files.0.file_obj.run.project_name}} {{files.file_obj.0.run.git_revision}}
    {% endif %}
{% endblock %}

{% block content %}
    Project View | <a href="{{url}}/cloud">Cloud View</a>
    <br>
    <br>
    <a href="/{{files.0.file_obj.run.project_name}}/">{{files.0.file_obj.run.project_name}}/</a>
    <ul class="filelist">
        {% for file in files %}
            <li>
                {% if file.errors %}
                    <a href="{{url}}/{{file.file_obj.filename}}">{{file.file_obj.filename}}</a>
                {% else %}
                    {{file.file_obj.filename}}
                {% endif %}
                (Errors: {{file.errors}})
            </li>
        {% endfor %}
    </ul>
    <p class="share">
        Share your good (or bad) results with the following icon/html to
        let visitors to your project's site watch your standards progress.
        <br><br>
        <img src="/static/img/share.jpeg" height="20" width="193">
        <br><br>
        <textarea rows="4" cols="40">
            <a href="{{url}}"><img src="/static/img/share.jpeg" height="20" width="193"></a>
        </textarea>
    </p>
{% endblock %}

