 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
 
<html>
     <head>
         <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <link rel="stylesheet" type="text/css" href="/static/css/main.css" media="screen">
         <title> {% block title %} Spygit {% endblock %} </title>
     </head>
     <body>
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="#">Projects</a></li>
        </ul>
         <div id="header">
            <h1 class="logo">Spygit</h1>
            <form action="#">
                <fieldset id="form">
                    <legend></legend>
                    <input type="text" id="repo" name="repo" value="https://durden@github.com/durden/spygit.git" class="field"><br>
                    <input type="submit" class="button">
                </fieldset>
            </form>
         </div>

        <div id="content">

        {% block content %} 
        {% endblock %}

        </div>
        <div id="footer">
            <p>
                Created for 2010 <a href="http://www.djangodash.com">Django Dash</a> by
                <a href="http://www.lukelee.net">Luke Lee</a> and Lance Shelton. 
            </p>
        </div>
    </body>
</html>
